.canvascontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
}

.canvasgui {
  position: absolute;
  z-index: 2;
}
